li{
    list-style: none;
    padding: 2px;
    
}

ul{
    @media (max-width: 500px){
      
        border: 1px solid black;
       }
    //padding-left:0rem ;
   
    transition: all 1s ease;
    padding: 30px;
}

.btn .btn-primary{
    transition: all 1s ease;
}