.slider{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    @media (max-width: 500px){
        //height: 350px;
        //margin-bottom: 30px;
        width: 70%;
       }
}

.image{
    width: 85%;
    height: 500px;
    border-radius: 10%;
    @media (max-width: 500px){
       height: 350px;
       margin-bottom: 30px;
       width: 100%;
      }
}

.right-arrow{
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: black;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    @media (max-width: 500px){
        right: 0px;
        
    }
}
.left-arrow{
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: black;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    @media (max-width: 500px){
        left: 0px;
        
    }
}

.slide{
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active{
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}

.suggest{

    display: flex;
    flex-direction: row;
    width: 75%;
    @media (max-width: 500px){
    // flex-direction: column;
    width: 100%;
        
    }
}